.LCKbuild.gradle~
traceException/traceDisconnect.btm
byteman-download-4.0.20-bin.zip
.gradle/file-system.probe
.gradle/7.4/gc.properties
.gradle/7.4/checksums/checksums.lock
.gradle/7.4/checksums/sha1-checksums.bin
.gradle/7.4/checksums/md5-checksums.bin
.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4/dependencies-accessors/gc.properties
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileChanges/last-build.bin
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/nb-cache/subprojects.ser
.gradle/nb-cache/testlog4j-1416259782/project-info.ser
.gradle/nb-cache/trust/4E641013A7F1B594DB4CF1438F27EA880BCE61B1D40D50F424D9731DE8B303A2
.vscode/settings.json
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/aws.xml
.idea/.gitignore
.gradle/vcs-1/gc.properties
traceException/.gradle/file-system.probe
traceException/.gradle/7.4/gc.properties
traceException/.gradle/7.4/checksums/checksums.lock
traceException/.gradle/7.4/checksums/md5-checksums.bin
traceException/.gradle/7.4/checksums/sha1-checksums.bin
traceException/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
traceException/.gradle/7.4/dependencies-accessors/gc.properties
traceException/.gradle/7.4/executionHistory/executionHistory.bin
traceException/.gradle/7.4/executionHistory/executionHistory.lock
traceException/.gradle/7.4/fileChanges/last-build.bin
traceException/.gradle/7.4/fileHashes/fileHashes.bin
traceException/.gradle/7.4/fileHashes/fileHashes.lock
traceException/.gradle/7.4/fileHashes/resourceHashesCache.bin
traceException/.gradle/buildOutputCleanup/buildOutputCleanup.lock
traceException/.gradle/buildOutputCleanup/cache.properties
traceException/.gradle/buildOutputCleanup/outputFiles.bin
traceException/.gradle/nb-cache/subprojects.ser
traceException/.gradle/nb-cache/traceException-95228929/project-info.ser
traceException/.gradle/nb-cache/trust/8E5651D3115C7F94E7B14F921C58200513489012AD8824E29B84630CD1761EBA
traceException/.gradle/vcs-1/gc.properties
traceException/build/distributions/stackTraceBmHelper-1.0-SNAPSHOT.zip
traceException/build/distributions/stackTraceBmHelper-1.0-SNAPSHOT.tar
traceException/build/distributions/testlog4j-1.0-SNAPSHOT.tar
traceException/build/distributions/testlog4j-1.0-SNAPSHOT.zip
traceException/build/libs/testlog4j-1.0-SNAPSHOT.jar
traceException/build/libs/stackTraceBmHelper-1.0-SNAPSHOT.jar
traceException/build/scripts/stackTraceBmHelper
traceException/build/scripts/stackTraceBmHelper.bat
traceException/build/scripts/testlog4j
traceException/build/scripts/testlog4j.bat
traceException/build/tmp/compileJava/previous-compilation-data.bin
traceException/build/tmp/jar/MANIFEST.MF
